
.hidden{
  display: none;
}

.displayed{
  display:block;
}



.top-bar-container{
  background-color: rgba(0,0,0,0.5);
  color: rgb(224, 224, 224);
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

.top-bar-container * {
  padding: 0 2%;

}

.top-bar-container a {
  color:rgb(224, 224, 224);
}

.top-bar-container nav {
  width: 30%;
  text-align: right;
  right: 0;
  position: absolute;
  top: 50%;
  margin-right: 2em;
}


.main-container{
  top: 25%;
  position: absolute;
  margin: 0 25% 3%;
  padding: 2% 2%;
  background-color: rgba(255,255,255,0.7);
}

.main-container h6{
  margin: 1em 0 0.5em;
}

/*video background help from http://slicejack.com/fullscreen-html5-video-background-css/*/

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;

}

@media (min-aspect-ratio: 16/9) {
  .bg-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .bg-video {
    width: auto;
    height: 100%;
  }
}

@media (min-aspect-ratio: 16/9) {
  .bg-video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .bg-video {
    width: 300%;
    left: -100%;
  }
}

.forecast-container{
  background-color: white;
  border: 1px solid grey;
}

.row{
  display: flex;
}

.col{
  flex: 1;
}

#five-day-forecast-container{
  margin-top: 2%;
  width: 100%;
}

.hour-container{
  border: 1px solid grey;
}
